.btvn {
    background: linear-gradient(to right, rgb(68, 160, 141), rgb(9, 54, 55));
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    padding: 50px;
}

.BT4 input {
    width: 20%;
}
.chuvi button,
.chuvi input {
    width: 20%;
}

.dienTich button,
.dienTich input {
    width: 20%;
}
